{% extends "base.html" %}

{% block content %}
<title>Find A Film</title>

    <div class="container">
        <form action="/rate-film" name="data" id='movieForm' method="POST">
            <div class="pic" id="pic">
            <img src="">
            </div>
            <div class="title" id="title">
                <h3 id="film-title">Film Name: </h3>
                <p id="plot">Plot: </p>
            </div>
        
                <button class="button" id="button1" type="submit" onClick="window.location.reload();">New Movie</button>
                <button class="button" id="watch-this" type="submit" data-id="title">Watch This</button>
            </div>
        </form>
    </div>

{% endblock %}