{% extends 'base.html' %}
{% block content %}
{% if current_user.is_authenticated %}

<h3>Films rated by {{ current_user.username }}</h3>
<div class="container">
    <table class="table table-striped">
        <thead>
            <th>Films Watched</th>
            <th>Rating</th>
        </thead>
        <tbody>
            {% for rated_movies in rated_movies %}
            <tr id="title">
            </tr>
            {% endfor %}
        </tbody>
    </table>

</div>

{% endif %}
{% endblock %}